@media only screen and (min-width:700px) {
    .landing{
    background-image: url(./assets/vil2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    font-size:170px;
    text-align: center;
    font-family: 'Black And White Picture', sans-serif;
       
    color:currentColor;
}
    nav{
        font-family: 'Black And White Picture', sans-serif;
        font-size:25px; 
    }
    .jumbotron{
        background-image: url(assets/rawpixel-603019-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Black And White Picture', sans-serif;
        color:honeydew;
        font-size:30px;  
        -webkit-box-shadow: inset 76px -7px 62px 3px rgba(0,0,0,0.75);
-moz-box-shadow: inset 76px -7px 62px 3px rgba(0,0,0,0.75);
box-shadow: inset 76px -7px 62px 3px rgba(0,0,0,0.75);
        margin-bottom:0px; 
    }
    .galbo{
        background-color:bisque; 
        padding:20px; 
    }
    .card{
       -webkit-box-shadow: -3px 19px 43px -3px rgba(26,25,24,1);
-moz-box-shadow: -3px 19px 43px -3px rgba(26,25,24,1);
box-shadow: -3px 19px 43px -3px rgba(26,25,24,1);
        margin:5px;
        border-radius:10px; 
       /*  font-family: 'Dancing Script', cursive;*/
    }
    .address{
        text-align: center;
        padding:50px; 
        line-height:20px; 
        font-weight:bold;
         font-size:20px; 
    }
    .card-header{
        background-color:brown;
        color: azure;
    }
    
    .mapouter{
        height:375px;
        width:300px;
        margin:20px;
    }.gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:375px;
        width:300px; 
        border-style:solid;
        border-color: black;
        border-width:medium;
        text-align:left;
     }
   
    footer{
        height:100px;
        margin:0px;
        background-color: darkslategrey;
        color:azure;
    }
}
@media only screen and (max-width:699px) {
    .landing{
    background-image: url(./assets/vil2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:600px;
    font-size:100px;
    text-align: center;
    font-family: 'Black And White Picture', sans-serif;
    color:currentColor;
}
     nav{
        font-family: 'Black And White Picture', sans-serif;
        font-size:20px; 
    }
    .jumbotron{
        background-image: url(assets/rawpixel-603019-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Black And White Picture', sans-serif;
        color:honeydew;
        font-size:30px;  
        -webkit-box-shadow: inset 76px -7px 62px 3px rgba(0,0,0,0.75);
-moz-box-shadow: inset 76px -7px 62px 3px rgba(0,0,0,0.75);
box-shadow: inset 76px -7px 62px 3px rgba(0,0,0,0.75);
        margin-bottom:0px; 
    }
    .galbo{
        background-color:bisque; 
        padding:20px; 
    }
    .card{
       -webkit-box-shadow: -3px 19px 43px -3px rgba(26,25,24,1);
-moz-box-shadow: -3px 19px 43px -3px rgba(26,25,24,1);
box-shadow: -3px 19px 43px -3px rgba(26,25,24,1);
        margin:5px;
        margin-left:10%; 
        border-radius:10px; 
    }
    .card-header{
        background-color:brown;
        color: azure;
    }
    
    footer{
        height:70px;
        margin:0px;
        background-color: darkslategrey;
        color:azure;
    }
     .mapouter{
        height:375px;
        width:300px;
        margin:20px;
    }.gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:375px;
        width:300px; 
        border-style:solid;
        border-color: black;
        border-width:medium;
        text-align:left;
     }
}